/* 顶部模块 */

#shortcut .w {
    height: 30px;
    line-height: 30px;
    color: #999;
}

#shortcut .w1 {
    top: 30px;
    height: 200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.dd:hover {
    background-color: #fff;
}

.dd:hover .dt {
    display: inline-block;
}

.dt {
    display: none;
    left: 170px;
    margin: 0 auto;
    position: absolute;
    width: 1190px;
    height: 200px;
    z-index: 100;
    background-color: orange;
}

#shortcut .w .fr ul li:nth-child(even):after {
    content: "\007C";
    width: 1px;
    height: 12px;
    background-color: #e3e4e5;
    padding: 0px 15px 0;
}

.arrow-icon::after {
    content: "\02C5";
    margin-left: 6px;
}


/* 头部模块 */

#header .w {
    height: 140px;
    position: relative;
}

.header-c1 {
    position: relative;
    height: 60px;
}

.search {
    position: relative;
    left: 265px;
    top: 25px;
    width: 520px;
    height: 36px;
    border: 1px solid #b1191a;
}

.search input {
    display: inline-block;
    position: absolute;
    width: 425px;
    height: 34px;
}

.search button {
    position: absolute;
    right: 0;
    width: 60px;
    height: 36px;
    background-color: #b1191a;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 240px;
    bottom: 100px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}

.count {
    position: absolute;
    left: 30px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #e60012;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0;
}

.hotwords {
    position: absolute;
    top: 65px;
    height: 50px;
    left: 265px;
    width: 500px;
}

.navitems {
    position: relative;
    top: 50px;
    left: 200px;
    font-size: 15px;
}

.navitems a {
    display: inline-block;
    margin-left: 20px;
}
