.navitems li {
    position: relative;
    font-size: 14px;
    text-align: left;
    display: block;
    background-color: #fff;
}

.promo {
    display: inline-block;
    position: absolute;
    top: 175px;
    left: 375px;
    width: 600px;
    height: 375px;
    background-color: pink;
}

.promo img {
    width: 600px;
    height: 375px;
}

.prev,
.next {
    display: inline-block;
    top: 44%;
    width: 30px;
    height: 40px;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}

.prev {
    position: absolute;
    left: 0;
    /*加了绝对定位的盒子可以直接设置高度和宽度*/
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.next {
    position: absolute;
    right: 0;
    /*加了绝对定位的盒子可以直接设置高度和宽度*/
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.promo-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 50px;
    width: 150px;
    height: 15px;
    background: #fff;
    border-radius: 7px;
}

.promo-nav li {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    margin: 2px;
}

.promo-nav .selected {
    background-color: #ff5000;
}

.goods {
    display: inline-block;
    position: absolute;
    top: 175px;
    right: 400px;
    width: 150px;
    height: 375px;
}

.goods img {
    height: 375px;
}

.sup {
    display: inline-block;
    position: absolute;
    right: 200px;
    top: 175px;
    background-color: orange;
    height: 375px;
    width: 175px;
}
